<!-- Model initial pour la migration 1.4 -->
<!-- █model Utilisateur -->

<!-- Model alternatif après la migration 1.5. -->
<!-- █model UtilisateurEtFavorisViewModel -->
<a asp-action="Index" asp-controller="Musique">Retour à l'index</a>

<h2>Profil de █Model.Utilisateur.Pseudo</h2>

<p>Id : █Model.Utilisateur.UtilisateurId</p>
<p>Nom d'utilisateur : █Model.Utilisateur.Pseudo</p>

<!-- ARRÊTEZ ICI POUR LA MIGRATION 1.4 -->

<p>Couleur préférée : 
    <!-- █if (ViewData["couleur"] == null)
    {
     <span>Confirmez le mot de passe pour afficher</span>
     <form asp-action="Couleur">
         Mot de passe : <input type="text" name="motDePasse"> <button type="submit">Afficher la couleur</button>
     </form>   
    }
    else
    {
        █ViewData["couleur"]
    }-->
</p>

<!-- CI-DESSOUS, LE TABLEAU POUR LA MIGRATION 1.5 -->

<!--
█if(Model.ChanteursFavoris.Count > 0)
{
    <h3>Chanteurs préférés</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    █Html.DisplayNameFor(model => model.ChanteursFavoris.First().Nom)
                </th>
                <th>
                    █Html.DisplayNameFor(model => model.ChanteursFavoris.First().DateNaissance)
                </th>
            </tr>
        </thead>
        <tbody>
            █foreach (var item in Model.ChanteursFavoris)
            {
                <tr>
                    <td>
                        █Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        █Html.DisplayFor(modelItem => item.DateNaissance)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
-->
